@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

#root {
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color:#f2f2f2;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin-bottom: 0;
    }

    img {
        user-select: none;
    }

    a {
        text-decoration: none;
        color: #000;
        outline: none !important;

        &:hover {
            text-decoration: none !important;
            color: #666;
        }
    }

    ul,
    li {
        list-style: none;
        margin: 0;
        padding: 0 !important;
    }

    .card {
        background-color: transparent;
        border: 0;
        padding: 0;

        .card-body {
            background-color: transparent;
            border: 0;
            padding: 0;
        }
    }

    .myBtn {
        border: 1px solid rebeccapurple;
        color: rebeccapurple;
        padding: 10px 30px;
        font-size: 18px;
        font-weight: 600;
        margin-left: auto;
        display: block;
        margin-top: 40px;
        transition: all .3s ease-in-out;

        &:hover {
            background-color: rebeccapurple;
            color: #fff ;
        }
    }

    .form-control {
        border-color: rebeccapurple;
        font-size: 17px;
        box-shadow: 0 0 10px rgba(102, 51, 153, 0.616) !important;
    }
}